<%layout('layouts/boilerplate.ejs')%>


<h2 class="text-center text-white" style="margin-top: 150px;">Doctor Portal</h2>

<div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 150px;"><button class="btn btn-primary" type="button"><a class='text-white align-middle' href="/healdesk/doctor/login" style="text-decoration: none; margin-top: 40px; margin-bottom: 40px;">Login</a></button>
    <button class="btn btn-primary" type="button"><a class='text-white align-middle' href="/healdesk/doctor/signup" style="text-decoration: none; margin-top: 40px; margin-bottom: 40px;">Sign up</a></button>
  </div>

