<%layout('layouts/boilerplate.ejs')%>

<div class="container px-5 text-center mainn">
    <section>
      <img src="logo.svg" style="width: 200px;" class='floatingup' alt="">
        <h1 class="text-center text-purple">Heal Deck</h1>
        <p class="text-purple-dark"> <strong> Say goodbye to paper records and hello to a secure digital platform for recording patient data! Simplify your patient data recording process while maintaining the highest level of security with our app. Our app's user roles and permissions feature allows for secure access to patient data, giving you complete control over who sees what information.</strong></p>
        <button class="btn glass" id="mainbtn"><a class='text-white align-middle' href="/healdesk/patient/login" style="text-decoration: none; margin-top: 40px; margin-bottom: 40px;">Login</a></button>
        <button class="btn glass" id="mainbtn"><a class='text-white align-middle' href="/healdesk/patient/signup" style="text-decoration: none; margin-top: 40px; margin-bottom: 40px;">Sign Up</a></button>
    </section>
    <section>
        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/medical-report-6101746-5023500.png" class="floatingup" alt="">
    </section>
</div>
<!-- main end -->

<!-- featured box -->
<div class="features mx-5">
    <h3 class="mx-4 text-purple">Features</h3>
    <div class="container glass px-5" id="feature">
      <h3 class="p-3 text-purple-dark" >Authentication</h3>
      <h3 class="p-3 text-purple-dark" >Authorization</h3>
      <h3 class="p-3 text-purple-dark" >Encryption</h3>
      <h3 class="p-3 text-purple-dark" >Firewall</h3>
      <h3 class="p-3 text-purple-dark" >Security</h3>
    </div>
</div>
<!-- featured box end -->

<!-- features box -->
<div class="feature mt-5 mb-5 container">
    <h2>Why Heal Deck?</h2>
    <h4 class="text-purple-dark">Our secure patient data recording app is designed with your patients' confidentiality in mind. With advanced encryption technology, our app ensures that sensitive medical information is stored and transmitted securely. Say goodbye to paper records and streamline your patient data recording process with our digital platform. The app's user roles and permissions feature allows for secure access to patient data, giving you complete control over who sees what information. Stay compliant with data privacy regulations and simplify your workflow with our secure patient data recording app. Trust us to keep your patients' data safe and secure.</h4>

    <div class="featurecards text-center m-5">
    <section>
        <ul>
            <li>
                <p>Secure</p>
            </li>
            <li>
                <p>Advanced encryption</p>
            </li>
            <li>
                <p>Multi-factor authentication</p>
            </li>
            
        </ul>
    </section>
    <section>
        <ul>
            <li>
                <p>Automated backups</p>
            </li>
            <li>
                <p>Integration with Electronic Health Record (EHR)</p>
            </li>
            <li>
                <p>Continuous monitoring</p>
            </li>
        </ul>
    </section>
</div>
</div>
<!-- features box end -->

<!-- photo booth -->
<div class="photobooth ">
    <section class="img1 floatingup"></section>/
    <section>
        <h5>ONLINE PATIENT RECORD SYSTEM</h5>
        <h4>Our online patient record system is the ultimate solution for healthcare providers looking to streamline their workflow while ensuring the highest level of patient data security.</h4>
        <h5>With advanced encryption technology, user roles and permissions feature and multi-factor authentication, you can trust us to keep your patient data safe and secure.</h5>
        <button class="btn glass m-3 p-3"><a class='text-white align-middle' href="/healdesk/patient/signup" style="text-decoration: none; margin-top: 40px; margin-bottom: 40px;">SIGN UP NOW</a></button>
    </section>
    <section class="img2 floatingdown"></section>
</div>
<!-- photo booth end -->

<!-- buy albums -->
<div class="album container p-5">
    <h2>OTHER SERVICES:</h2>
    <div class="row row-cols-1 row-cols-md-4 g-6 row-gap-3 about mt-5">
        <div class="col">
          <div class="card h-100 glass px-2">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/medicine-8189026-6559200.png?f=webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"><strong>KNOW YOUR MEDICINES</strong></small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 glass px-2">
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/virus-8573382-6786703.png?f=webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"><strong>KNOW YOUR DISEASES</strong></small>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card h-100 glass px-2">
              <img src="https://cdn3d.iconscout.com/3d/premium/thumb/call-management-4454015-3692796.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary text-purple-dark"><strong>EMERGENCY NUMBERS</strong></small>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100 glass px-2">
              <img src="https://static.vecteezy.com/system/resources/thumbnails/022/221/037/small/3d-hand-holding-green-check-marks-tick-marks-symbols-icon-isolated-concept-3d-render-illustration-png.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"><strong>LINK AADHAR</strong></small>
              </div>
            </div>
          </div>
        </div>
</div>

<!-- call for Swifties -->
<div class="callfor container">
    <section>
    <pre class="pre">CALL FOR THE
HEALTH FREAKS</pre>
    <h3 style="text-transform: uppercase;">Improved efficiency</h3>
    <h4>Using an online patient record system can help healthcare providers to manage patient data more efficiently. Electronic records can be accessed and updated in real-time, saving time and reducing errors associated with paper records.</h4>
    <h3 style="text-transform: uppercase;">Increased accuracy</h3>
    <h4>Online patient record systems offer features such as data validation and automated alerts to improve the accuracy of patient records. Providers can access complete and up-to-date information on their patients to make informed decisions.</h4>
    </section>
    <section class="up">
    <button class="btn glass my-4 p-3">Contact Us</button>
    <pre>  </pre>
    <h3 style="text-transform: uppercase;">Better patient care</h3>
    <h4>Online patient record systems enable healthcare providers to share patient data across multiple locations and providers, resulting in improved continuity of care. Patients can also access their own records and communicate with their providers, leading to better patient engagement and outcomes.</h4>
    <h3 style="text-transform: uppercase;">Enhanced security</h3>
    <h4>Online patient record systems provide advanced security measures such as encryption, user authentication, and audit trails to ensure patient data is protected from unauthorized access. This helps to comply with regulatory requirements and maintain patient confidentiality.</h4>

    </section>
</div>

<!-- footer section start -->
<div><h2 class="text-center footerheading">HEAL DECK</h2></div>
<div class="footerr container text-center my-5" id="contact">
<section class="box">
<a href="/healdesk/patient/login" style="text-decoration: none;"> <h3>Login</h3></a>
</section>

<section class="box">
<a href="/healdesk/patient/signup" style="text-decoration: none;"><h3>Sign up</h3></a>
</section>

<section class="box">
<h3>Emergency Number</h3>
</section>

<section class="box">
<h3>Contact Us</h3>
</section>
</div>