<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand " href="/healdesk">Heal Deck</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-flex" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item mx-5">
            <a class="nav-link" aria-current="page" href="/healdesk/patient">Patient Portal</a>
          </li>
          <!-- <li class="nav-item mx-5">
            <a class="nav-link" href="/healdesk/doctor">Doctor Portal</a>
          </li> -->
          <!-- <li class="nav-item mx-5">
            <a class="nav-link" href="/healdesk/admin">Admin Portal</a>
          </li> -->
          <li class="nav-item mx-5">
            <a class="nav-link" href="#contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>